html{
				min-height:100%;
				margin:0;
				background-image: url("mainbackground.png");
				background-repeat: no-repeat;
				background-size:cover;
}
body{
	min-height:100%;
	margin:0;
}

p{
	font-size:2em;
}

.mob{
	transform: scale(2, 2);
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2,2);	
}
